/* CSS declarations go here */
#content {
	margin-top: 80px;
}

.activityimage {
    position: relative;
    border: none;
}
 
.caption h1 {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    font-size: 400%;
}