
template(name="home")
  head
    title V
  body
    .container
      | {{> navbar}}
      div#content
        | {{> activitycard}}

template(name="navbar")
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
      .container
        .navbar-header
          a.navbar-brand(href='#') V
        .navbar-collapse.collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            | {{> loginButtons}}

template(name="activitycard")
  .row
    each activities
      .col-lg-4.col-md-6.col-xs-12
        .thumbnail.activityimage.text-center
          img.img-responsive(style="opacity: 0.4", src="{{img}}")
          .caption
            h1 {{name}}
