head
  title V

body
  | {{> navbar}}
  div#content
    h1 Welcome to Meteor!
    | {{> activitycard}}

template(name="hello")
  button Click Me
  p You've pressed the button #{counter} times.

template(name="activitycard")
  h1 Foo
  ul
  each activities
    li {{name}}

template(name="navbar")
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
      .container
        .navbar-header
          a.navbar-brand(href='#') V
        .navbar-collapse.collapse
          ul.nav.navbar-nav
          ul.nav.navbar-nav.navbar-right
            {{> loginButtons}}
