template(name="layout")
  head
    title V
  body
    .container
      | {{> Navbar}}
      div#content
        | {{>yield}}

template(name="Home")
  | {{> Activitycards}}

template(name="Navbar")
  nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container-fluid
      .container
        .navbar-header
          a.navbar-brand(href="/") V
        .navbar-collapse.collapse
          ul.nav.navbar-nav
            li 
              a(href="/challenges") Challenges
          ul.nav.navbar-nav.navbar-right
            | {{> loginButtons}}

template(name="Activitycards")
  .row
    each activities
      .col-lg-4.col-md-6.col-xs-12
        .thumbnail.activityimage.text-center
          a(href="activities/{{_id}}")
            img.img-responsive(style="opacity: 0.4", src="{{img}}")
            .caption
              h1= name

template(name="ActivityDashboard")
  h1 Dashboard for Activity {{name}}
  table.table.table-striped
    thead
      tr
        th Rank
        th Name
        th
    tbody
      each players
        tr
          td= index
          td= getUsername
          td
            if userParticipatesInActivity
              if equals currentUser._id user
                p Can't challenge self
              else if alreadyChallenged
                | {{> DeleteChallengeLink getChallengeId }}
              else
                a.challengeLink
                  i(id="{{_id}}").clickable.glyphicon.glyphicon-bullhorn
  if currentUser
    if userInPlayersList
      button#removeMe Remove me from this list
    else
      button#addMe Add me to this list
      
template(name="DeleteChallengeLink")
  a.deleteChallengeLink
    i(id="{{this}}").clickable.glyphicon.glyphicon-remove &nbsp;
  a(href="/challenge/{{this}}")
    i.clickable.glyphicon.glyphicon-eye-open

template(name="Challenges")
  h1 stuff
  table.table.table-striped
    thead
      tr
        th Activity
        th Challenger
        th Opponent
        th
    tbody
      each challenges
        tr
          td
            a(href="/activities/{{getActivity._id}}") {{getActivity.name}}
          td 
            a(href="/users/playerid/{{challenger}}") {{challengerName}}
          td 
            a(href="/users/playerid/{{opponent}}") {{opponentName}}
          td
            | {{> DeleteChallengeLink _id }}
          
template(name="Challenge")
  h1 Challenge view
  ul
    li
      a(href="/users/playerid/{{challenger}}") {{challengerName}}
    li 
      a(href="/users/playerid/{{opponent}}") {{opponentName}}
    li
      a(href="/activities/{{activity}}") {{getActivity.name}}
      
template(name="User")
  h1 User view
  ul
    li {{username}}